<form action="/square_root/results">
  <label for="square_root">Enter a number</label>
  <input type="text" id="square_root" name="square_root" placeholder="What number do you want to take the square root of?">

  <div>
    <button>Calculate square root</button>
  </div>
</form>
